<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Express Library</title>

  <!-- Bootstrap CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
<console class="log">present.html loaded</console>

  <div class="container">
    <div class="jumbotron">
      <div class="optionsDiv">
        <a href="/previous" class="btn btn-danger btn-lg previous">
          <span class="fa fa-arrow-circle-left"></span> Previous Reminders</a>

        <a href="/addNew" class="btn btn-danger btn-lg addNew"  data-target="#exampleModal" id="addNew">Add
          New Reminders
          <span class="fa fa-plus"></span></a>

        <a href="/future" class="btn btn-danger btn-lg future"> Future Reminders <span class="fa fa-arrow-circle-right"></span></a>
        <hr>
        <a href="/present" class="btn btn-danger btn-lg reminderBelow"> Today's Reminders Below
          <span class="fa fa-arrow-circle-down"></span></a>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12">

        <div class="card">
          <div class="card-header">
            Reminders
          </div>
          <div class="card-body" id="reminderSection">

            <!-- Content will go in here -->

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Reminders</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Choose Date: </label>
              <input type="date" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="appt-time">Choose an appointment time: </label>
              <label for="recipient-name" class="col-form-label">Choose Time: </label>
              <input type="time" class="form-control" id="recipient-name" value="12:35 PM">
              <label for="appt-time">Choose an appointment time: </label>
              <input id="appt-time" type="time" name="appt-time" value="13:30">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Enter Reminder:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Custom Script -->
  <!-- <script src="js/addReminder.js" type="text/javascript"></script> -->
  <script src="js/present.js" type="text/javascript"></script>
</body>

</html>